.profile-information-form {
  .ant-form-item-label > label {
    color: #273755;
    font-size: 14px;
    font-weight: 500;
  }

  .ant-form-item-extra {
    color: #7885a0;
    font-size: 12px;
  }

  .ant-input-disabled {
    color: #667697;
  }
}
