.profile-password-form {
  .ant-form-item-label > label {
    color: #273755;
    font-size: 14px;
    font-weight: 500;
  }

  .ant-form-item-extra {
    color: #7885a0;
    font-size: 12px;
  }
}

.profile-password-notice.ant-alert {
  margin-bottom: 24px;
  font-size: 14px;
}
