.user-form-modal {
  .ant-form-item-label label {
    color: #273755;
    font-size: 14px;
    font-weight: 600;
  }

  .ant-form-item-extra {
    font-size: 12px;
  }
}

.user-form-feedback {
  margin-bottom: 16px;
}
